<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341170045254-6bvvml7quav152tcsag6tckls6nq8jl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341170045254-6bvvml7quav152tcsag6tckls6nq8jl7</string>
	<key>API_KEY</key>
	<string>AIzaSyCReL4khcCi8w5oZeXIk-Lj9V5Q1L-Gkcg</string>
	<key>GCM_SENDER_ID</key>
	<string>341170045254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>henry.tech.travel-go-go</string>
	<key>PROJECT_ID</key>
	<string>travel-go-go</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-go-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341170045254:ios:28ca3e7fb42fd20f7f6547</string>
	<key>DATABASE_URL</key>
	<string>https://travel-go-go.firebaseio.com</string>
</dict>
</plist>